body {
    font-family: 'gabrielaregular', 'Times New Roman';
}

.cutoff-logo {
    margin-top: -50px;
    margin-bottom: -50px;
}

.menu-items li a{
    font-size: 2rem;
}

.section {
    margin: 1rem 0 1rem 0;
}

.text-antiquewhite {
    color:antiquewhite;
}

.brand-logo {
    height: 3rem;
    width: 3rem;
}

#social-media a {
    text-decoration: none;
}

.italics {
    font-style: italic;
}

.text-sm {
    font-size: .5rem;
}

.text-shadow-sm {
    text-shadow: 1px 1px black;
}

.max-height-carousel {
    max-height: 25rem;
}

#history-section p {
    text-indent: 4rem;
    text-align: justify;
}

@font-face {
    font-family: 'gabrielaregular';
    src: url('./fonts/gabriela-regular-webfont.woff2') format('woff2'),
         url('./fonts/gabriela-regular-webfont.woff') format('woff'),
         url('./fonts/Gabriela-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}